.recentVideoStat {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  .title {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.32px;
    text-align: left;
    color: #3f3f3f;
    width: 100%;
    padding-left: 20px;
    margin-top:5px;
  }

  .divider {
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
  }

  .content {
    width: 100%;
    display: flex;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      margin-top: 50px;
      height: 300px;
      border-left: 1px dashed #c1c1c1;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: 200px;
      margin-left: 50px;
      width: 400px;
      border-top: 1px dashed #c1c1c1;
    }
  }
}

.quadrantTitle {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.32px;
    text-align: left;
    color: #3F3F3F;
  }
  
  .quadrantData {
    font-family: Noto Sans KR;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.6px;
    text-align: left;
    color: #000000;
  }
  
  .quadrant {
    position: absolute;
  
    &.q1 {
      bottom: 80px;
      left: 30px;
    }
  
    &.q2 {
      bottom: 80px;
      right: 30px;
    }
  
    &.q3 {
      top: 80px;
      right: 30px;
    }
  
    &.q4 {
      top: 80px; 
      left: 30px;
    }
  
    .title {
      @extend .quadrantTitle;
      position: absolute;
      bottom: 100%;
      white-space: nowrap;
    }
  
    .data {
      @extend .quadrantData;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
