.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left:10px;
}

.thumbnail {
  width: 270px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.title {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.32px;
  color: #000000;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  margin-bottom: 10px;
}

.statRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 5px;
}

.statItem,
.statData {
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.6px;
  color: #3d3d3d;
}

//돌아가는 로딩 스타일
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #ff0045;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
