.container {
  position: relative;
  width: 313px;
  height: 213px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}

.adImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.likeIcon {
  position: absolute;
  top: -10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.liked {
  transform: scale(1.2);
  opacity: 0.8;
}
