$white:#ffffff;
$black:#000000;

$gold: #F4B000;
$sliver: #A8A8A8;
$bronze: #AE7263;

$primary100: #FFD2CC;
$primary200: #FF9B99;
$primary300: #FF6671;
$primary400: #FF3F60;
$primary500: #FF0045;
$primary600: #DB0050;
$primary700: #B70055;
$primary800: #930053;
$primary900: #7A0050;

$success100: #EDFCD2;
$success200: #D7F9A6;
$success300: #B7EF77;
$success400: #96E054;
$success500: #69CC22;
$success600: #4FAF18;
$success700: #389211;
$success800: #25760A;
$success900: #176106;

$info100: #CBFEF8;
$info200: #99FDF9;
$info300: #65F6FB;
$info400: #3FE3F7;
$info500: #02C6F2;
$info600: #019AD0;
$info700: #0174AE;
$info800: #00538C;
$info900: #003B74;

$warning100: #FFFBCC;
$warning200: #FFF699;
$warning300: #FFF066;
$warning400: #FFEA3F;
$warning500: #FFE100;
$warning600: #DBBE00;
$warning700: #B79D00;
$warning800: #937D00;
$warning900: #7A6500;

$danger100: #FEEDD5;
$danger200: #FED6AD;
$danger300: #FEBA83;
$danger400: #FD9F64;
$danger500: #FC7232;
$danger600: #D85124;
$danger700: #B53619;
$danger800: #921F0F;
$danger900: #780F09;

$grey50:#F9F9F9;
$grey100:#EEEEEE;
$grey200:#DFDFDF;
$grey300:#C1C1C1;
$grey400:#A5A5A5;
$grey500:#8B8B8B;
$grey600:#6F6F6F;
$grey700:#555555;
$grey800:#3D3D3D;
$grey900:#242424;