.description {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.6px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    color: #6F6F6F;
  }
  