.AdvertisingPrice {
    width: 1150px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
  }