.contactInput {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    input {
      width: 300px;
      height: 50px;
      border-radius: 10px;
      border: 1px solid #C1C1C1;
      padding: 0 10px;
    }
  }