.category {
    width: 52px;
    height: 20px;
    background: #FFD9D9;
    border-radius: 5px;
    font-family: Noto Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #FF0045;
    margin-bottom: 10px;
  }
  