.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .divider {
    width: 1400px;
    border: 1.5px solid #D9D9D9;
  }
  
  .titleRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #3F3F3F;
  }
  
  .contentRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    margin: 50px 0;
  }
  
  .listNumber {
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.6px;
    text-align: left;
    color: #8B8B8B;
  }
  
  .advertiserImage {
    width: 100px;
    height: 100px;
    border-radius: 500px;
  }
  
  .companyName, .email, .adRate {
    font-family: Noto Sans KR;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #6F6F6F;
  }
  
  .companyName {
    font-weight: 700;
    color: #000000;
  }
  
  .buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  